<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.replicateseries">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ShowListActivity"
            android:label="Shows">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SeasonListActivity"
            android:label="Friends"
            android:parentActivityName=".ShowListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShowListActivity" />
        </activity>

        <activity
            android:name=".EpisodeListActivity"
            android:label="Friends"
            android:parentActivityName=".SeasonListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SeasonListActivity" />
        </activity>

        <!-- Set proper value for label programmatically -->
        <activity
            android:name=".EpisodeDetailActivity"
            android:label="Friends"
            android:parentActivityName=".EpisodeListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EpisodeListActivity" />

        </activity>

    </application>

</manifest>